@model retaurant_info.Models.Links
@*
    @{
        ViewData["Title"] = "ApplicationUserLinks";
    }

    <h1>ApplicationUserLinks</h1>

*@





       
    
        <div class="form-group">
            <label asp-for="Url" class="control-label"></label>
            <input id="url" asp-for="Url" class="url form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
 
        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label>
            <input id="titulo" asp-for="Titulo" class="titulo form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>





