
@using retaurant_info.Components

@{
    ViewData["Title"] = "Home Page";
}


<!--Add items dynamically in list in .net core -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@(await Html.RenderComponentAsync<UserList>(RenderMode.ServerPrerendered))


@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}